html,
body {
	font-size: 16px;
}

.btn-github {
    background: $github;
    border-color: $githubBorder;
    color: $whiteText;
	transition: all 0.3s ease-in-out;

    &:hover {
        background: $githubHover;
        color: $darkText;
    }
}