.flex-container {
	display: flex;
	flex-direction: row;

	&> div {
		height: 300px;
	}

	.data-selection {
		flex-grow: 2;

		form {
			label {
				display: block;
			}

			.roadSectionSelect {
				margin-top: 30px;
				display: none;
			}
		}
	}

	#map {
		flex-grow: 3;
	}
}

.graph-container {

}