$whiteText:     #ffffff;
$darkText:      #333333;

// Buttons
$github:        #333333;
$githubShade:   #222222;
$githubBorder:  #111111;

$githubHover:	#fff;

// Header
$headerBG:		#333;
$headerBorder:	#111;
$headerText:	$whiteText;